html, body {
	margin:0px;
	padding:0px;
}
.container {
	background-image: url("green_cup.png");
	margin-top: 100px;
	padding: 0px;
	padding-bottom: 775px;
	border-top-style: groove;
	border-top-width: 3px;
	border-top-color: #DDD;
}
.name{
	text-align: top;
	margin-top: 0px;
	margin-bottom: 10px;
	margin-left: 10px;
}
.two {
	float: left;
	margin-top: 111px;
	margin-left: 73px;
	border-top-style: solid;
	border-color: #f7f0e3;
}
.three {
	background-color: white;
	margin-top: -15px;
	margin-bottom: -252px;
	padding: 178px;
	margin-left: 184px;
	padding-left: 184px;
	padding-right: 38px;
}
.header {
    color: white;
    background-color: #68d6b3;
    text-align: center;
    position: absolute;
    margin-left: 256px;
    padding: 34px;
    margin-top: -102px;
    font-size: 31px;
}
.picture {
	margin-left: -147px;
	margin-top: 9px;
	float: left;
	padding-right: 17px
}
.description {
	margin-right: 0px;
	margin-left: -148px;
	width: 600px;
	height: 20px;
	font-size: 20px;
	margin-bottom: 172px;
	color: #777777;
	letter-spacing: 2px;
	text-align: justify;
	font-family: 'Neuton', serif;
}
.links {
	float: right;
	margin-left: -196px;
	margin-top: -98px;
	margin-right: 668px;
}
#about, #portfolio, #contact {
	float: left;
	text-decoration: none;
}
#about {
	margin-top: 40px;
	margin-right: 15px;
    border-right: 1px solid #DDD;
    padding-right: 15px;
    font-size: 21px;
}
#portfolio {
	margin-top: 40px;
	margin-right: 15px;
    border-right: 1px solid #DDD;
    padding-right: 15px;
    font-size: 21px;
}
#contact {
	margin-top: 40px;
	font-size: 21px;
}
.aboot {
	margin-top: -174px;
	margin-left: -147px;
	border-bottom-style: groove;
	border-bottom-color: #DDD;
	border-bottom-width: 2px;
	color: #68d6b3;
	line-height: 2.0;
	font-size: 30px;
	margin-right: -4px;
}
a {
	text-decoration: none;
}
a:visited {
	color:blue;
}
#about:hover {
	background-color: yellow;
}
#portfolio:hover {
	background-color: pink;
}
#contact:hover {
	background-color: purple;
}
img {
	margin-top: 10px;
}
footer {
 	text-align: center;
	margin-left: 0px;
	background-color: #666;
	position: absolute;
	padding-left: 851px;
	padding-right: 851px;
	padding-top: 37px;
	padding-bottom: 21px;
	border-top-style: solid;
	border-top-width: 5px;
	border-top-color: #68d6b3;
	margin-top: 759px;
	color: #cfcfcf;
	white-space: nowrap;
	
}
.connect {
	float: right;
	background-color: white;
	margin-top: -375px;
	margin-right: -336px;
	padding: 29px;
	padding-top: 0px; 
	padding-right:14px;
	padding-left:14px;
	padding-bottom:16px;
}
h5{
	color: #68d6b3;
	border-bottom-style: groove;
	border-color: #DDD;
	border-bottom-width: 2px;
	font-size: 24px;
	margin-top: 8px;
	margin-bottom: 23px;
	line-height: 1.8;
	text-align: center;
	margin-left: 1px;
	padding-bottom: 5px;
}
#github, #linked, #stack{
	float: left;
}
#linked {
	margin-top: -19px;
	padding-right: 5px;
	padding-left: 1px;
}
#github {
	margin-top: -19px;
	padding-right: 3px;
	padding-left: 0px;
}
#stack {
	margin-top: -16px;
	padding-right: 1px;
	padding-left: 1px;
}
.two2 {
	float: left;
	margin-top: 111px;
	margin-left: 73px;
}
.three2 {
	background-color: white;
	margin-top: 146px;
	margin-bottom: -252px;
	margin-left: 184px;
	padding-left: 184px;
	padding-right: 38px;
	padding-bottom: 31px;
}
.three4 {
	background-color: white;
	margin-top: 268px;
	margin-bottom: -252px;
	margin-right: -168px;
	padding-left: 184px;
	padding-right: 38px;
	}
h4 {
	margin-bottom: 18px;
	margin-top: 10px;
	text-align: center;
	font-size: 18px;
}
.contactword {
	margin-bottom: 0px;
	margin-top: -154px;
	margin-left: -146px;
	border-bottom-style: groove;
	border-bottom-color: #DDD;
	border-bottom-width: 1px;
	color: #68d6b3;
	line-height: 2.0;
	margin-right: 5px;
	font-size: 29px;
}
h3 {
	color: #777777;
	margin-left: -145px;
	margin-top: 14px;
	font-size: 22px;
	font-family: 'Special Elite', cursive;
}
.email {
	color: #777777;
	margin-left: -520px;
	margin-top: 15px;
	margin-bottom: 0px;
	font-size: 22px;
	font-family: 'Special Elite', cursive;
}
.message {
	color: #777777;
	margin-left: -145px;
	font-size: 22px;
	margin-top: 15px;
	font-family: 'Special Elite', cursive;
}
.text {
	width: 452px;
	height: 41px;
	margin-left: -145px;
	margin-top: 6px;
	font-size:20px;
	font-family: 'Chewy', cursive;
}
.messagebox {
	width: 450px;
	height: 180px;
	margin-left: -142px;
	margin-bottom: 44px;
	margin-top: 12px;
	font-size: 22px;
	font-family: 'Chewy', cursive;

}
.connect2 {
	float: right;
	background-color: white;
	margin-top: -536px;
	margin-right: -338px;
	padding: 1px;
	padding-top: 5px; 
	padding-right:23px;
	padding-left:23px;
	padding-bottom:23px;
}
.footer2 {
  	text-align: center;
	margin-left: 0px;
	background-color: #666;
	position: absolute;
	padding-left: 851px;
	padding-right: 851px;
	padding-top: 37px;
	padding-bottom: 21px;
	border-top-style: solid;
	border-top-width: 5px;
	border-top-color: #68d6b3;
	margin-top: 759px;
	color: #cfcfcf;
	white-space: nowrap;
}
.submitt {
    color: white;
    background-color: #68d6b3;
    margin-left: -145px;
    padding-left: 22px;
    padding-right: 22px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 18px;
    margin-right: 410px;
    position: absolute;
    margin-top: -30px;
}
.reset {
	color: white;
    background-color: #68d6b3;
    margin-left: -45px;
    padding-left: 22px;
    padding-right: 22px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 18px;
    position: absolute;
    margin-top: -30px;
}
.two3 {
	float: left;
	margin-top: -100px;
	margin-left: 71px;
	padding-right: 75px;
	padding-left:3px;
	padding-bottom: 3px;
	padding-top: 16px;
}
.three3 {
	background-color: white;
	margin-top: 146px;
	margin-bottom: -229px;
	margin-left: 184px;
	padding-left: 192px;
	padding-right: 298px;
	padding-bottom: 271px;
}
.three5{
	background-color: white;
	margin-top: 268px;
}
.portfolioword {
	margin-bottom: -5px;
	padding-top: 7px;
	padding-bottom: 2px;
	margin-left: -149px;
	margin-right: -256px;
	border-bottom-style: groove;
	border-bottom-color: #DDD;
	border-bottom-width: 1px;
	color: #68d6b3;
	line-height: 2.0;
	position: relative;
	font-size: 24px;
}
.connect3 {
	float: right;
	background-color: white;
	margin-top: -643px;
	margin-right: -437px;
	padding: 1px;
	padding-top: 5px; 
	padding-right:23px;
	padding-left:23px;
	padding-bottom:23px;
}
.footer3 {
  	text-align: center;
	margin-left: 0px;
	background-color: #666;
	position: absolute;
	padding-left: 851px;
	padding-right: 851px;
	padding-top: 37px;
	padding-bottom: 21px;
	border-top-style: solid;
	border-top-width: 5px;
	border-top-color: #68d6b3;
	margin-top: 759px;
	color: #cfcfcf;
	white-space: nowrap;
}
#hangman {
	margin-left: -151px;
	margin-top:17px;
}
#hangmantag {
    color: white;
    background-color: #68d6b3;
    position: absolute;
    padding: 4px;
    margin-top: -54px;
    padding-left: 63px;
    padding-right:63px;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size:19px;
}
#trivia {
	margin-left: -151px;
	margin-bottom: -70px;
	margin-top:13px;
}
#triviatag {
    color: white;
    background-color: #68d6b3;
    position: absolute;
    padding: 4px;
    margin-top: -56px;
    padding-left: 76px;
    padding-right: 77px;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size:19px;
  }
#rpc {
	margin-left:-151px;
	margin-top:84px;
	margin-bottom: -13px;
	position:absolute;
}
#rpctag {
    color: white;
    background-color: #68d6b3;
    position: absolute;
    margin-left: 2px;
    padding: 4px;
    margin-top: -51px;
    padding-left: 21px;
    padding-right: 21px;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 19px;
  }
#rpg {
	margin-left: 104px;
	margin-bottom: 277px;
	margin-top: -263px;
	position: absolute;
}
#rpgtag {
    color: white;
    background-color: #68d6b3;
    position: absolute;
    margin-left: 0px;
    padding: 4px;
    margin-top: -54px;
    margin-bottom: -61px;
    padding-left: 59px;
    padding-right: 59px;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 19px;
  }
 #widget{
	margin-left: 97px;
	margin-bottom: -62px;
	margin-top: -87px;
	position: absolute;
}
#widgettag {
    color: white;
    background-color: #68d6b3;
    position: absolute;
    margin-left: 3px;
    padding: 4px;
    margin-top: -57px;
    padding-left: 73px;
    padding-right: 73px;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 19px;
  }